*{
    margin: 0;
    padding: 0;
}
header{

background: #f6f9f9;

padding: 20px 0;
}
.header_wrapper{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;

align-items: center;
}
.logo{

width: 20%;
}
.logo img{

}
.menu{

width: 50%;
}
.menu ul{
    
list-style: none;
    
display: flex;
    
justify-content: end;
font-family: 'Lato', sans-serif;
}
.menu ul li{
    
}
.menu ul li a{
    
text-decoration: none;
    
text-transform: uppercase;
    
margin-left: 60px;
    
color: #2d3950;
}
.banner{

position: relative;

text-align: center;
}
.banner img{
    width: 100%;
}
.banner_content{

position: absolute;

top: 50%;

left: 50%;

transform: translate(-50%, -50%);
}
.banner_content h1{
    
color: #ffffff;
    
font-size: 100px;
    
text-transform: uppercase;
}
.banner_content span{
    
display: block;
    
height: 2px;
    
width: 100%;
    
background: #15a4fa;
}
.banner_content p{
    
color: #ffffff;
    
padding: 15px 0 30px;
}
.banner_content button{
    
padding: 10px 15px;
    
border: 1px solid #15a4fa;
    
background: transparent;
    
color: white;
    
border-radius: 4px;
    
transition: .7s all ease-in-out;
}
.banner_content button:hover{
    background: #15a4fa;
}
.icon{
    
position: absolute;
    
top: 80%;
    
left: 50%;
    
transform: translateX(-50%);
    
color: white;
animation: down 1s linear infinite alternate;
}

@keyframes down {
 0%{
top: 80%
 }
 100%{
top: 85%
 }
}
.simple_section{

background: #f6f9f9;
}
.simple_wrapper{

width: 80%;

margin: auto;

padding: 50px 0;

text-align: center;
}
.simple_wrapper h2{

font-size: 40px;

margin-bottom: 20px;

color: #2d3950;
font-family: 'Lato', sans-serif;
}
.simple_wrapper p{

font-size: 18px;

color: #999999;
font-family: 'Lato', sans-serif;
}

.feature_section{

display: flex;

width: 80%;

margin: auto;

justify-content: space-between;

text-align: center;

padding: 70px 0;
}
.feature_item{

width: 30%;
}
.feature_item h2{

margin-bottom: 10px;

font-family: 'Lato', sans-serif;
}
.feature_item p{

font-family: 'Lato', sans-serif;
}
.icon_box{

width: 100px;

height: 100px;

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48baff+0,48baff+50,5fc3ff+50,5fc3ff+100 */
background: #48baff; /* Old browsers */
background: -moz-linear-gradient(left,  #48baff 0%, #48baff 50%, #5fc3ff 50%, #5fc3ff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #48baff 0%,#48baff 50%,#5fc3ff 50%,#5fc3ff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #48baff 0%,#48baff 50%,#5fc3ff 50%,#5fc3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48baff', endColorstr='#5fc3ff',GradientType=1 ); /* IE6-9 */


display: flex;

justify-content: center;

align-items: center;

font-size: 35px;

color: white;

margin: auto;

margin-bottom: 20px;
}